html{
    font-size: 22px;
}
body{
    background-color: #f5f0f004;
    color: rgb(10, 9, 9);
}
a{
    color: rgb(8, 127, 231);
}
a:visited {
    color: rgb(211, 159, 159);
}
a:hover, a:active {
    color: #1d05f5;
}
footer{
    background-color: gray;
}
p{
    align-items: center;
}
table, tr, th, td, caption {
    border: 1px solid #030101e7;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem ;
}
fieldset {
    border-color: blueviolet;
    max-width:max-content ;
    font-weight: 100;
    border-radius: 20px;
}
